@using Assignment.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Assignment.Constants

@model IEnumerable<Assignment.Models.ViewCart>;
@{
    Layout = "~/Views/Shared/_WebLayout1.cshtml";
}
@{string email = Context.Session.GetString(SessionKey.KhachHang.KH_Email);}
@{string fullName = Context.Session.GetString(SessionKey.KhachHang.KH_FullName);}

<section id="cart">
    <div class="container">
        <header class="section-header">
            <h3>Giỏ hàng</h3>
        </header>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive-sm">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Món ăn</th>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 0;
                                double total = 0;
                                foreach (var item in Model)
                                {
                                    int id = item.MonAn.MonAnID;
                                    string txt_id = "txtQuantity_" + id;
                                    stt++;
                                    double totalSub = item.MonAn.Price * item.Quantity;
                                    total += totalSub;
                                    <tr id="tr_@id">
                                        <td>
                                            @stt
                                        </td>
                                        <td>
                                            @item.MonAn.Name
                                        </td>
                                        <td>
                                            <img src="~/images/monAn/@item.MonAn.Picture" style="width:150px; height:100px" />
                                        </td>
                                        <td><input type="number" id="@txt_id" value="@item.Quantity" /></td>
                                        <td id="tdGia_@id">@item.MonAn.Price</td>
                                        <td id="tdTien_@id">@totalSub</td>
                                        <td>
                                            <a href="javascript:updateCart(@id);"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:delCart(@id);"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <p class=" font-weight-bold text-right mr-5 mt-3 mb-0">Tổng tiền : <span id="spTotal">@total</span></p>
                <div class="button">
                    @if (email != null && email != "")
                    {
                        <button onclick="orderCart(true);" type="submit">Đặt hàng</button>
                    }
                    else
                    {
                        <button onclick="orderCart(false);" type="submit">Đặt hàng</button> <br />
                        <span>Bạn cần đăng nhập để đặt hàng</span>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function delCart(id) {
        $.ajax({
            type: "POST",
            url: "/Home/DeleteCart",
            data: {
                id: id,
            },
            success: function (result) {
                $("#tr_" + id).hide();
                $("#spTotal").html(result);
                alert(result);
                if (result == "0") {
                    $("#imgCart").attr("src", 'images/cart.png')
                }
            }
        })
    }
    function updateCart(id) {
        var soluong = $("#txtQuantity_" + id).val();
        var gia = $("#tdGia_" + id).html();
        var thanhtien = soluong * gia;
        $("#tdTien_" + id).html(thanhtien);


        $.ajax({
            type: "POST",
            url: "/Home/UpdateCart",
            data: {
                id: id,
                soluong: soluong
            },
            success: function (result) {
                $("#spTotal").html(result);
                if (result == "0") {
                    $("#imgCart").attr("src", '/images/cart.png');
                }
            }
        });
    }

    function orderCart(flagLogin) {
        if (!flagLogin) {
            alert("Bạn cần đăng nhập để đặt hàng.");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/Home/OrderCart",
            data: {
            },
            success: function (result) {
                window.location = "/Home/History";
            }
        });
    }

</script>
